#span4
  %h3 Add Instructor
  %form{ :action => "", :method => "post"}
    %fieldset

      %label{:for => "f_name"} First Name
      %input{:type => "text", :name => "f_name", :class => "text span4"}

      %label{:for => "m_name"} Middle Name
      %input{:type => "text", :name => "m_name", :class => "text span4"}
     
      %label{:for => "l_name"} Last Name
      %input{:type => "text", :name => "l_name", :class => "text span4"}

      %label{:for => "birth_date"} Birth Date 
      %input{:type=>"text", :required => true, :class=> 'datepicker span4'}

      %label
      %input{:type => "submit", :value => "Add Instructor", :class => "button btn-primary span4"}

 
%h3 Instructors
